<div class="field has-addons">
    <p class="control">
        <button class="button is-small" [ngClass]="{'is-active is-link': isActive(MediaType.movie)}"
                (click)="mediaTypeSelect.emit(MediaType.movie)">
                  <span class="icon is-small">
                    <i class="fas fa-film"></i>
                  </span><span>Movies</span>
        </button>
    </p>
    <p class="control">
        <button class="button is-small" [ngClass]="{'is-active is-link': isActive(MediaType.tv)}"
                (click)="mediaTypeSelect.emit(MediaType.tv)">
                      <span class="icon is-small">
                        <i class="fas fa-tv"></i>
                      </span>
            <span>TV Shows</span>
        </button>
    </p>
</div>
