<div class="modal" [ngClass]="{'is-active': open}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="player-wrapper" [@showHide]="isPlayerReady ? 'show' : 'hide'">
            <vime-player
                #player
                playsinline
            >
                <vime-youtube cookies="true" [videoId]="youtubeId"></vime-youtube>
                <vime-poster (vLoaded)="posterLoaded()"></vime-poster>
                <vime-skeleton [effect]="'none'"></vime-skeleton>
                <vime-default-ui></vime-default-ui>
            </vime-player>
        </div>
    </div>
    <div class="spinner fa-3x" *ngIf="!isPlayerReady">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>
