<div class="modal" [ngClass]="{'is-active': open}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="player-wrapper" [@showHide]="isPlayerReady ? 'show' : 'hide'">
            <vm-player
                #player
                playsinline
            >
                <vm-youtube cookies="true" [videoId]="youtubeId"></vm-youtube>
                <vm-poster (vmLoaded)="posterLoaded()"></vm-poster>

                <vm-default-ui></vm-default-ui>
            </vm-player>
        </div>
    </div>
    <div class="spinner fa-3x" *ngIf="!isPlayerReady">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>
