<ng-container *ngIf="mediaItem$ | async as mediaItem">
  <section
    class="hero is-success is-fullheight"
    [ngStyle]="getStyle(mediaItem.backdrop_path)"
  >
    <div class="hero-bg">
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <app-media-item-image
                [src]="mediaItem.poster_path"
                [alt]="mediaItem.name"
              ></app-media-item-image>
            </div>
            <div class="column">
              <h1 class="title">
                <span class="has-text-weight-bold mr-2 has-text-grey-lighter">{{
                  mediaItem.name
                }}</span>
                <span class="has-text-weight-normal has-text-grey-light"
                  >({{ getYear(mediaItem.first_air_date) }})</span
                >
              </h1>
              <h2 class="subtitle">Subtitle</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active"><a>Overview</a></li>
              <li><a>Modifiers</a></li>
              <li><a>Grid</a></li>
              <li><a>Elements</a></li>
              <li><a>Components</a></li>
              <li><a>Layout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
</ng-container>
