@import "../../../../node_modules/bulma/sass/utilities/initial-variables.sass";

.movie-aditional-info {
  color: $grey;
}

.rating-icon {
  color: $yellow;
}

.no-image__wrapper {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
  justify-content: center;
  background-color: $grey-light;
  color: $grey-lighter;
}

.no-image__icon {
  font-size: 7rem;
}
