<section class="section">
  <div class="container">
    <div class="field has-addons">
      <form
        [formGroup]="searchForm"
        (ngSubmit)="searchForMovies()"
        class="control is-expanded"
      >
        <input
          formControlName="query"
          #searchInput
          class="input"
          type="text"
          placeholder="Find a movie"
        />
      </form>
      <div class="control">
        <button type="submit" class="button is-info">Search</button>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="movies$ | async as movies">
  <app-movie-list *ngIf="movies.length > 0" [movies]="movies"></app-movie-list>
</ng-container>
