<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left mr-6">
                <div class="level-item">
                    <a routerLink="/" id="logo"
                        ><img src="/assets/img/logo.svg" alt="Screenz"
                    /></a>
                </div>
            </div>

            <div class="level-right is-flex-grow-1">
                <div class="level-item is-flex-grow-1">
                    <app-search-form class="is-flex-grow-1"></app-search-form>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
