<ng-container *ngIf="mediaItem">
    <section
        class="hero is-success is-fullheight"
        [ngStyle]="getStyle(mediaItem?.img?.backdrop)"
    >
        <div class="hero-bg">
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-3">
                            <app-media-item-image
                                [src]="mediaItem?.img?.poster"
                                [alt]="mediaItem.title"
                            ></app-media-item-image>
                        </div>
                        <div class="column">
                            <h1 class="title">
                                <span
                                    class="has-text-weight-bold mr-2 has-text-grey-lighter"
                                >{{ mediaItem.title }}</span>
                                <span *ngIf="mediaItem?.releaseDate"
                                    class="has-text-weight-normal has-text-grey-light"
                                >({{getYear(mediaItem?.releaseDate)}})</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>
