<section
    *ngIf="mediaItem"
    class="hero is-fullheight"
    [ngStyle]="getStyle(mediaItem?.img?.backdrop)"
>
    <div class="hero-bg">
        <div class="hero-head">
            <app-header-bar></app-header-bar>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-3">
                        <app-media-item-image
                            [src]="mediaItem?.img?.poster"
                            [alt]="mediaItem.title"
                        ></app-media-item-image>
                    </div>
                    <div class="column is-6">
                        <h1 class="title has-text-weight-bold mr-2 has-text-grey-lighter">
                            {{ mediaItem.title }}
                        </h1>
                        <div class="level">
                            <div class="level-left">
                                <a class="level-item has-text-white is-size-5" *ngIf="mediaItem?.trailerVideoId"
                                   (click)="playVideo(mediaItem.trailerVideoId)">
                                <span class="icon mr-1">
                                    <i class="far fa-play-circle"></i>
                                </span>
                                    <span>Play trailer</span>
                                </a>
                            </div>
                        </div>
                        <div class="level has-text-grey-light">
                            <div class="level-left">
                                <div *ngIf="mediaItem?.voteAverage" class="level-item">
                                    <i class="fas fa-star mr-1"></i>
                                    <p><b>{{ mediaItem.voteAverage }}</b>/10</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item" *ngIf="mediaItem.genres as genres">
                                    <p class="mr-2" *ngFor="let genre of genres">{{ genre }}</p>
                                </div>
                                <p class="level-item"
                                   *ngIf="mediaItem?.runtime">{{ formatRuntime(mediaItem.runtime) }}</p>
                                <p *ngIf="mediaItem?.releaseDate"
                                   class="level-item">{{ getYear(mediaItem.releaseDate) }}</p>
                            </div>
                        </div>
                        <p class="has-text-white">{{mediaItem?.overview}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <ng-container *ngIf="mediaItem?.cast">
            <h2 class="title">Cast</h2>
            <swiper [config]="config">
                <div class="has-text-centered" *ngFor="let cast of castWithProfileOnly$ | async">
                    <div class="img-wrapper mb-2">
                        <img
                            src="https://image.tmdb.org/t/p/h632/{{ cast.imagePath }}"
                            alt="{{ cast.name }}"
                        />
                    </div>
                    <p><b>{{ cast.name }}</b></p>
                    <p>{{ cast.characterName }}</p>
                </div>
            </swiper>
        </ng-container>
    </div>
</section>

<section class="section" *ngIf="mediaItem?.reviews as reviews">
    <div class="container">
        <h2 class="title">Reviews <small class="is-size-4 has-text-grey">({{ reviews.length }})</small></h2>

        <ng-container *ngFor="let review of reviews; first as isFirst">
            <article class="media mb-5" *ngIf="isFirst">
                <figure class="media-left">
                    <p class="avatar image is-64x64" *ngIf="review.author_details.avatar_path as imagePath">
                        <img src="{{ imagePath }}">
                    </p>
                    <p *ngIf="!review.author_details.avatar_path" class="avatar-placeholder">
                        {{ review.author_details.username.charAt(0) }}
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong *ngIf="review.author_details.name as name">{{ name }}</strong>
                            <strong
                                *ngIf="!review.author_details.name">{{ review.author_details.username }}</strong><small
                            class="ml-2">{{ getDate(review.created_at, review.updated_at) }}</small>
                            <br>
                            <app-review-content [content]="review.content"></app-review-content>
                        </p>
                    </div>
                </div>
            </article>
        </ng-container>
        <a (click)="showAllReviews = true" *ngIf="reviews.length > 1" class="is-size-6 has-text-black">Read all reviews <i class="is-size-7 fas fa-angle-double-right"></i></a>

        <div class="modal" [ngClass]="{'is-active': showAllReviews}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Reviews <small class="is-size-4 has-text-grey">({{ reviews.length }})</small></p>
                    <button class="delete" aria-label="close" (click)="showAllReviews = false"></button>
                </header>
                <section class="modal-card-body">
                    <article class="media" *ngFor="let review of reviews">
                        <figure class="media-left">
                            <p class="avatar image is-64x64" *ngIf="review.author_details.avatar_path as imagePath">
                                <img src="{{ imagePath }}">
                            </p>
                            <p *ngIf="!review.author_details.avatar_path" class="avatar-placeholder">
                                {{ review.author_details.username.charAt(0) }}
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong *ngIf="review.author_details.name as name">{{ name }}</strong>
                                    <strong
                                        *ngIf="!review.author_details.name">{{ review.author_details.username }}</strong><small
                                    class="ml-2">{{ getDate(review.created_at, review.updated_at) }}</small>
                                    <br>
                                    <app-review-content [content]="review.content"></app-review-content>
                                </p>
                            </div>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                </footer>
            </div>
        </div>
    </div>
</section>

<app-video-player *ngIf="openModal" (closePlayer)="closePlayer()"
                  [youtubeId]="youtubeId"></app-video-player>
