<section
    *ngIf="mediaItem"
    class="hero is-fullheight"
    [ngStyle]="getStyle(mediaItem?.img?.backdrop)"
>
    <div class="hero-bg">
        <div class="hero-head">
            <app-header-bar></app-header-bar>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-3">
                        <app-media-item-image
                            [src]="mediaItem?.img?.poster"
                            [alt]="mediaItem.title"
                        ></app-media-item-image>
                    </div>
                    <div class="column is-6">
                        <h1 class="title has-text-weight-bold mr-2 has-text-grey-lighter">
                            {{ mediaItem.title }}
                        </h1>
                        <div class="level">
                            <div class="level-left">
                                <a class="level-item has-text-white is-size-5" *ngIf="mediaItem?.trailerVideoId"
                                   (click)="playVideo(mediaItem.trailerVideoId)">
                                <span class="icon mr-1">
                                    <i class="far fa-play-circle"></i>
                                </span>
                                    <span>Play trailer</span>
                                </a>
                            </div>
                        </div>
                        <div class="level has-text-grey-light">
                            <div class="level-left">
                                <div *ngIf="mediaItem?.voteAverage" class="level-item">
                                    <i class="fas fa-star mr-1"></i>
                                    <p><b>{{ mediaItem.voteAverage }}</b>/10</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item" *ngIf="mediaItem.genres as genres">
                                    <p class="mr-2" *ngFor="let genre of genres">{{ genre }}</p>
                                </div>
                                <p class="level-item" *ngIf="mediaItem?.runtime">{{ formatRuntime(mediaItem.runtime) }}</p>
                                <p *ngIf="mediaItem?.releaseDate" class="level-item">{{ getYear(mediaItem.releaseDate) }}</p>
                            </div>
                        </div>
                        <p class="has-text-white">{{mediaItem?.overview}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <ng-container *ngIf="mediaItem?.credits">
            <h2 class="title">Cast</h2>
            <swiper [config]="config">
                <div class="has-text-centered" *ngFor="let cast of castWithProfileOnly$ | async">
                    <div class="img-wrapper mb-2">
                        <img
                            src="https://image.tmdb.org/t/p/h632/{{ cast.profile_path }}"
                            alt="{{ cast.name }}"
                        />
                    </div>
                    <p><b>{{ cast.name }}</b></p>
                    <p>{{ cast.character }}</p>
                </div>
            </swiper>
        </ng-container>
    </div>
</section>

<app-video-player *ngIf="openModal" (closePlayer)="closePlayer()"
                  [youtubeId]="youtubeId"></app-video-player>
