<header class="navbar is-spaced is-transparent">
    <div class="container">
        <div class="navbar-brand" [ngClass]="{'navbar-brand-mobile--open has-background-black-ter': isMenuActive}">
            <a class="navbar-item mr-2" routerLink="/">
                <img id="logo" src="/assets/img/logo--inverted.svg" alt="Screenz"
                />
            </a>
            <span class="navbar-burger burger" [ngClass]="{'is-active has-background-black-ter': isMenuActive}" data-target="navbarMenuHeroC" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu" [ngClass]="{'is-active has-background-black-ter': isMenuActive}">
            <div class="navbar-start">
                <a class="navbar-item has-text-white">Movies</a>
                <a class="navbar-item has-text-white">TV Shows</a>
            </div>
            <div class="navbar-end">
                <span class="navbar-item">
                    <app-search-form class="is-flex-grow-1"></app-search-form>
                </span>
                <a class="navbar-item has-text-white">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>Sign in</span>
                </a>
            </div>
        </div>
    </div>
</header>
