<section class="hero is-fullheight" *ngIf="(trending$ | async) as trending"
         [ngStyle]="getStyle(trending.backdrop_path)">
    <div class="hero-bg">
        <div class="hero-head">
            <app-header-bar></app-header-bar>
        </div>

        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-3">
                        <app-media-item-image
                            [src]="trending.poster_path"
                            [alt]="trending.title"
                        ></app-media-item-image>
                    </div>
                    <div class="column is-flex is-align-items-flex-end">
                        <h1 class="title has-text-white">
                            {{ trending.title }}
                        </h1>
                        <a *ngIf="(youtubeId$ | async) as youtubeId" (click)="playVideo(youtubeId)">
                            <span class="icon">
                              <i class="far fa-play-circle"></i>
                            </span>
                            <span>Play trailer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-video-player *ngIf="openModal" (closePlayer)="closePlayer()"
                  [youtubeId]="youtubeId"></app-video-player>
<app-trending></app-trending>
