<section class="hero is-fullheight" *ngIf="(trending$ | async) as trending"
         [ngStyle]="getStyle(trending?.img?.backdrop)">
    <div class="hero-gradient">
        <div class="hero-bg">
        <div class="hero-head">
            <app-header-bar></app-header-bar>
        </div>

        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-3">
                        <app-media-item-image
                            [largeShadow]="true"
                            [src]="trending?.img?.poster"
                            [alt]="trending.title"
                        ></app-media-item-image>
                    </div>
                    <div class="column is-flex is-align-items-flex-end">
                        <div class="is-flex is-flex-direction-column">
                            <h1 class="title has-text-white">
                                {{ trending.title }}
                            </h1>
                            <div class="is-flex mb-2">
                                <span *ngIf="trending.voteAverage && trending.voteAverage > 0"
                                      class="tag is-warning mr-4"><i
                                    class="fas fa-star mr-1"></i><b>{{trending.voteAverage}}</b>/10</span>
                                <span *ngIf="!trending.voteAverage || trending.voteAverage === 0"
                                      class="tag is-light mr-4"><b>Not yet rated</b></span>
                                <a class="has-text-white" *ngIf="(youtubeId$ | async) as youtubeId"
                                   (click)="playVideo(youtubeId)">
                                <span class="icon mr-1">
                                    <i class="far fa-play-circle"></i>
                                </span>
                                    <span>Play trailer</span>
                                </a>
                            </div>
                            <div class="is-flex is-flex-direction-row" *ngIf="(genres$ | async) as genres">
                                <p class="genre has-text-grey-light is-size-7 mr-2" *ngFor="let genre of genres">{{ genre?.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<app-video-player *ngIf="openModal" (closePlayer)="closePlayer()"
                  [youtubeId]="youtubeId"></app-video-player>
<app-trending></app-trending>
