.hero-bg,
.hero-gradient {
    align-items: stretch;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-bg {
    background-color: rgb(18 18 18 / 84%);
}

.hero-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8382703423166141) 0%, rgba(0,0,0,0) 34%);
}

.rt-logo {
    width: 16px;
}

.genre:after {
    content: " \00b7";
    padding-left: 0.25rem;
}

.genre:last-of-type:after {
    content: none;
}

.title {
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}
