.hero {
    filter: blur(2);
}

.hero-bg {
    align-items: stretch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(18 18 18 / 84%);
}

.rt-logo {
    width: 16px;
}

.genre:after {
    content: " \00b7";
    padding-left: 0.25rem;
}

.genre:last-of-type:after {
    content: none;
}
