.hero {
    filter: blur(2);
}

.hero-bg {
    align-items: stretch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(18 18 18 / 84%);
}
