<section class="section">
    <div class="container">
        <div class="is-flex is-align-items-center mb-5">
            <h2 class="title mb-0 mr-4">{{ title }}</h2>
            <app-media-type-switch [selectedMediaType]="selectedMediaType"
                                   (mediaTypeSelect)="mediaTypeSelect.emit($event)"
                                   *ngIf="mediaTypeSwitcher"></app-media-type-switch>
            <app-time-switch *ngIf="timeWindowSwitcher"
                             [selectedTimeWindow]="selectedTimeWindow"
                             (timeWindowSelect)="timeWindowSelect.emit($event)"></app-time-switch>
        </div>
        <swiper [config]="config">
            <app-media-item-card
                *ngFor="let mediaItem of mediaItems"
                [media]="mediaItem"
            ></app-media-item-card>
        </swiper>
    </div>
</section>
